<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="post" action="/api/add_new">
      <input type="text" name="mssv" placeholder="Mã số sinh viên">
      <br><br>

      <input type="text" name="hoten" placeholder="Họ và tên">
      <br><br>

      <input type="date" name="ngaysinh" placeholder="Ngày sinh">
      <label>(Ngày sinh)</label>
      <br><br>

      <input type="number" name="tinchi" placeholder="Tín chỉ tích lũy">
      <br><br>

      <input type="submit" value="Submit">
    </form>



    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
  </body>
</html>
