<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div id="content_details">

    </div>


    <input type="button" value="Xóa" id="btn_delete">
    <input type="button" value="Chỉnh sửa" id="btn_edit">

    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/details.js"></script>
  </body>
</html>
