<form method="post" action="/api/add_new">
  <input type="text" name="mssv" placeholder="Mã số sinh viên">
  <br><br>

  <input type="text" name="hoten" placeholder="Họ và tên">
  <br><br>

  <input type="date" name="ngaysinh" placeholder="Ngày sinh">
  <label>(Ngày sinh)</label>
  <br><br>

  <input type="number" name="tinchi" placeholder="Tín chỉ tích lũy">
  <br><br>

  <input type="submit" value="Submit">
</form>